.campaign-container {
  background-image: linear-gradient(
    to right,
    rgba(124, 242, 184, 0.6),
    rgba(156, 174, 255, 0.6),
    rgba(255, 142, 142, 0.6)
  );
  padding-top: 44px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  column-gap: 80px;
  row-gap: 80px;
}
